@import 'common.scss';


.common-page-title{
  height:60*$length;
  width:100%;
  h2{
    float:left;
    @include fontStyle(20,60,500,#fff,start);
    @extend %clearFix;
  }
  & p{
    float:right;
    @include fontStyle(14,60,500,rgba(221,197,146,.4),start);
    cursor:pointer;
    &:hover{
      color:$hoverColor1;
    }
    @extend %clearFix;
  }
  & ul{
    height:100%;

    float:right;
    margin-right:50*$length;
    & li{
      display: inline-block;
      @include fontStyle(14,60,500,rgba(255,255,255,.4),start);
      margin-left:30*$length;
      cursor:pointer;
      &:hover{
        color:#fff;
      }
      @extend %clearFix;
    }
  }
}

.common-page-titleM{
  height:60*$length;
  width:100%;
  h2{
    float:left;
    margin-left:20*$lengthM;
    @include fontStyle(24,60,500,#fff,start);
    @extend %clearFix;
  }
  & p{
    float:right;
    margin-right:20*$lengthM;
    @include fontStyle(20,60,500,rgba(221,197,146,.4),start);
    cursor:pointer;
    &:hover{
      color:$hoverColor1;
    }
    @extend %clearFix;
  }
  & ul{
    height:100%;

    float:right;
    margin-right:50*$length;
    & li{
      display: inline-block;
      @include fontStyle(14,60,500,rgba(255,255,255,.4),start);
      margin-left:30*$length;
      cursor:pointer;
      &:hover{
        color:#fff;
      }
      @extend %clearFix;
    }
  }
}

.last-item{
  margin-right:0!important;
  margin-bottom:0!important;
}

.left-i{
  @include transform(rotate(180deg));
}

.margin-top{
  margin-top:42*$length;
}
.margin-topM{
  margin-top:32*$lengthM;
}

.page-footer{
  width:100%;
  background-color: #1F1D1F;
  margin-top:30*$lengthM;
  .page-footer-container{
    width:$pageWidth;
    margin:0 auto;
    height:180*$length;

    .left{
      float:left;
      width:40%;
      @extend %clearFix;
      & img{
        display: block;
        margin:0 auto;
        margin-top:44*$length;
        width:24*$length;
        height:24*$length;
      }
      & h1{
        width:100*$length;
        margin:9*$length auto 23*$length;
        @include fontStyle(16,21,500,$hoverColor1,center);
      }
      & p{
        width:100%;
        @include fontStyle(14,21,500,$hoverColor3,center);
      }
    }
    .center{
      float:left;
      width:20%;
      @extend %clearFix;
      & p{
        margin-bottom:24*$length;
        width:100%;
        @include fontStyle(12,16,500,$fontColor1,center);
      }
    }
    .right{
      float:left;
      width:40%;
      height:100%;
      @extend %clearFix;
      & img{
        @include horizontalCenterA(88);
        @include verticalMiddleA(88)
      }
    }
  }
}
.page-footerM{
  width:100%;
  margin-top:30*$lengthM;
  background-color: #1F1D1F;
  overflow:hidden;
  .page-footer-container{
    width:100%;
    margin:0 auto;
    height:180*$lengthM;
    @extend %clearFix;
    .left{
      float:left;
      width:40%;
      @extend %clearFix;
      & img{
        display: block;
        margin:0 auto;
        margin-top:64*$lengthM;
        width:24*$lengthM;
        height:24*$lengthM;
      }
      & h1{
        width:100%;
        margin:9*$lengthM auto 0;
        @include fontStyleM(16,21,500,$hoverColor1,center);
      }
    }
    .center{
      float:left;
      width:20%;
      @extend %clearFix;
      & p{
        margin-bottom:29*$lengthM;
        width:100%;
        @include fontStyleM(20,27,500,$fontColor1,center);
      }
    }
    .right{
      float:left;
      width:40%;
      height:100%;
      @extend %clearFix;
      & img{
        @include horizontalCenterA(88);
        @include verticalMiddleA(88)
      }
    }
  }
  .page-footer-bottom{
    @extend %clearFix;
    margin-top:1*$lengthM;
    height:63*$lengthM;
    width:100%;
    & p{
      width:100%;
      @include fontStyleM(18,63,500,$hoverColor3,center);
    }
  }
}

.page-number-box{
  width:$pageWidth;
  margin: 140*$length auto;
  ul{
    width:100%;
    text-align:center;
    li{
      display: inline-block;
      width:36*$length;
      background-color: #3D3A3D;
      margin-left:4*$length;
      margin-right:4*$length;
      @include fontStyle(14,36,500,#fff,center);
      cursor:pointer;
      & i{
        line-height: 36*$length;
        vertical-align: top;
        font-size:12*$length;

      }
      &:hover{
        background-color: $hoverColor1;
        color:#000;
      }
    }
  }
}
.page-number-boxM{
  width:80%;
  margin: 140*$lengthM auto;
  ul{
    width:100%;
    font-size:0;
    text-align:center;
    li{
      display: inline-block;
      width:9%;
      background-color: #3D3A3D;
      margin-right:1%;
      height:50*$lengthM;
      @include fontStyleM(14,36,500,#fff,center);
      cursor:pointer;
      & i{
        line-height: 36*$lengthM;
        vertical-align: top;
        font-size:12*$font-sizeM;

      }
      &:hover{
        background-color: $hoverColor1;
        color:#000;
      }
    }
  }
}


@media screen and (min-width: 230*$length ) and (max-width: 1200*$length){
  .page-footer{
    display: none;
  }
  .common-page-title,.page-number-box{
    display:none;
  }
  .page-footerM{
    display: block;
  }
  .common-page-titleM,.page-number-boxM{
    display:block;
  }
}


@media screen and (min-width: 1200*$length ){
  .page-footer{
    display: block;
  }
  .common-page-title,.page-number-box{
    display:block;
  }
  .page-footerM{
    display: none;
  }
  .common-page-titleM,.page-number-boxM{
    display: none;
  }
}
