

//----------------------------------变量--------------------------------------//
//变量      //$


/*定制index  start*/
$index1:100;
$index2:200;
$index3:300;
$index4:400;
$index5:500;
/*定制index  end*/

/*定制长度  start*/
$length:1px;
$lengthM:1px;
$font-size:1px;
$font-sizeM:1px;
/*定制长度  end*/



/*定制颜色  start*/
$fontColor1:rgba(70,83,155,1);
$hoverColor1:rgba(70,83,155,.4);
$hoverColor2:rgba(70,83,155,.1);
/*定制颜色  end*/


/*定制页面  start*/
$pageWidth:1200*$length;
$bgColor:#FEFEFE;
$bgColor2:rgba(71,132,182,1);
/*定制页面  end*/



/*定制页头  start*/

$pageHeaderBgC:rgba(34,34,34,.3);
$pageHeaderBLine:1px solid $hoverColor2;
$pageHeaderH:82*$length;
$pageHeaderHM:82*$lengthM;
$headerTitleWidth:98*$length;
$headerTitleWidthM:142*$lengthM;
$logoLeftM:20*$lengthM;
$LogoWidthM:30*$lengthM;
$LogoHeightM:30*$lengthM;
$MenuWidthM:32*$lengthM;
$MenuHeightM:32*$lengthM;
$LogoWidth:24*$length;
$LogoHeight:24*$length;
//$LogoImg:'../imgs/common/logo.png';
//$MenuImg:'../imgs/common/menu.png';
$pageHeaderNavListW:450;
$pageHeaderNavListNum:6;
$pageHeaderNavListItemL:$pageHeaderNavListW/$pageHeaderNavListNum*$length;
$pageHeaderNavListItemAW:36*$length;
$pageHeaderNavListItemAH:27*$length;
$pageHeaderNavListItemC:$fontColor1;
$pageHeaderNavListItemCH:$hoverColor1;
$pageHeaderEndW:94*$length;
$pageHeaderEndH:30;

/*定制页头  end*/



//----------------------------------混合--------------------------------------//




//混合   //@include



@mixin fontStyle($value1,$value2,$value3,$value4,$value5){
  font-size:$value1*$font-size;
  height:$value2*$length;
  line-height: $value2*$length;
  font-weight: $value3;
  color:$value4;
  text-align: $value5;
}

@mixin fontStyleM($value1,$value2,$value3,$value4,$value5){
  font-size:$value1*$font-sizeM;
  height:$value2*$lengthM;
  line-height: $value2*$lengthM;
  font-weight: $value3;
  color:$value4;
  text-align: $value5;
}
@mixin bgImage($value){
  background-image:url($value);
  background-position:50% 50%;
  background-size:100% 100%;
  background-repeat:no-repeat;
}


@mixin border-radius($radius) {
  border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin transform($value) {
  transform:$value;
  -webkit-transform:$value;
  -moz-transform:$value;
  -ms-transform:$value;
  -o-transform:$value;
}
@mixin transition($value) {
  transition:$value;
  -webkit-transition:$value;
  -moz-transition:$value;
  -ms-transition:$value;
}
@mixin  box-shadow($value){
  box-shadow:$value;
  -webkit-box-shadow: $value;
  -ms-box-shadow: $value;
  -moz-box-shadow: $value;
}

@mixin filter($value){
  -webkit-filter: $value;
  -moz-filter: $value;
  -ms-filter: $value;
  filter: $value;
}

@mixin verticalMiddleA($value){
  position:absolute;
  top:50%;
  margin:0 auto;
  margin-top: -1/2*$value*$length;
  height:$value*$length;
}

@mixin verticalMiddleAM($value){
  position:absolute;
  top:50%;
  margin:0 auto;
  margin-top: -1/2*$value*$lengthM;
  height:$value*$lengthM;
}


@mixin horizontalCenterA($value){
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  width:$value*$length;
}

@mixin horizontalCenterAM($value){
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  width:$value*$lengthM;
}

//----------------------------------继承--------------------------------------//

//继承    @extend

%canClick{
  cursor:pointer;
  @include transition(.5s ease);
}

%articleContent{
*{
  word-wrap: break-word
}
& p{
  width:100%;
  overflow: auto;
  color:#222222;
  font-size: 14*$font-size;
  line-height:1.8;
  word-wrap: break-word
}
& code{
  width:100%;
  background-color: #f1f1f1;
  color:#000;
  border-radius: 3*$length;
  padding:3*$length 5*$length;
  margin:0 3*$length;

}
& pre{
  line-height: 1.5;

}
& blockquote{
  display: block;
  border-left: 8*$length solid #d0e5f2;
  padding: 5*$length 10*$length;
  margin: 10*$length 0;
  line-height: 1.4;
  font-size: 100%;
  background-color: #f1f1f1;
}
& table{
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-size: 14*$font-size;
  & tbody{
    & tr{

    }
  }


}
& td {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3*$length 5*$length;
}
& th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3*$length 5*$length;
}


}

%message-common {
   border: 1px solid #ccc;
   padding: 10px;
   color: #333;
 }
%flex-column-center{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
 }
%flex-column-spb{
   display:flex;
   flex-direction:column;
   justify-content:space-between;
   align-items:center;
 }
%flex-row-center{
   display:flex;
   flex-direction:row;
   justify-content:center;
   align-items:center;
 }
%flex-row-spb{
   display:flex;
   flex-direction:row;
   justify-content:space-between;
   align-items:center;
 }


%nowrap{
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }

%inlineBlockV{
  &:before{
    content:'';
    display: inline-block;
    height:100%;
    vertical-align: middle;
  }
}


%clearFix{
  &:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
  }

  & {
    *zoom: 1
  }
}

%page-header-nav-title{
  float:left;
  width:$headerTitleWidth;
  height:$pageHeaderH;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size:$LogoWidth $LogoHeight ;
  //background-image: url($LogoImg);
  @extend %clearFix;
  text-align: end;
  & h1{
    color:$hoverColor1;
    font-size:16*$length;
    line-height: $pageHeaderH;
    font-weight: 500;
  }
}
%page-header-nav-titleM{
  float:left;
  width:$headerTitleWidthM;
  height:$pageHeaderHM;
  background-position: $logoLeftM 50%;
  background-repeat: no-repeat;
  background-size:$LogoWidthM $LogoHeightM ;
  //background-image: url($LogoImg);
  @extend %clearFix;
  text-align: end;
  & h1{
    color:$hoverColor1;
    font-size:20*$font-sizeM;
    line-height: $pageHeaderH;
    font-weight: 500;
  }
}

//----------------------------------reset--------------------------------------//

//reset

input{
  outline:none;
}
textarea{
  outline:none;
}

html,body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  background-color:$bgColor;
}

p{
  margin:0;
  padding:0;

}


/* 清除默认样式 start */
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

body, button, input, select, textarea {
  font: 14px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}

address, cite, dfn, em, var {
  font-style: normal;
}

code, kbd, pre, samp {
  font-family: courier new, courier, monospace;
}

ol, ul, li {
  list-style: none;
}

input {
  border: 0;
  outline: none;
}

fieldset, img {
  border: 0;
}

img {
  vertical-align: top;
}

button {
  border-radius: 0;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

body, html {
  background-color:$bgColor ;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",
  Roboto,"PingFang SC","Microsoft YaHei","Hiragino Sans GB",
  "Helvetica Neue","Helvetica",Arial,"Monaco","Menlo","Consolas",sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover , a:active , a:focus {
  text-decoration: none !important;
  color: black;
}

i, em {
  font-style: normal;
}

b {
  font-weight: normal;
}

u {
  text-decoration: none;
}

*{
  position:relative;
  @include transition(.5s ease);
}




/* 清除默认样式 end */

/* 清楚浮动 start */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  *zoom: 1
}
/* 清楚浮动 end */

/* 设置基本样式 start */
.w {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.fr {
  float: right!important;
}

.fl {
  float: left!important
;}
/* 设置基本样式 end */


/* 引入icon start */

/* 引入icon end */



//----------------------------------其他公共样式--------------------------------------//


//其他公共样式




